body {
    background-color: #01c4ff
}

/* where we modify the header elements at the top */
header {
    background-color: #666;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* The name part of the header */
#name {
    font-size: 32px;
    background-color: rgb(20, 228, 255);
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    border: solid #222 2px;
    width: 300px;
    height: 80px;
    text-align: center;
    position: relative;
    padding-top: 12px;
}

/* This is the css editor option for our About Me Section */
.aboutme {
    font-size: 30px;
    background-color: #999;
    height: 300px;
    text-align: center;
    border: solid black 2px;

}

/* We modify the actual about me header */
.aboutme h1 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* This is the css editor option for our About Me Section */
.projects {
    font-size: 30px;
    background-color: #999;
    height: 300px;
    text-align: center;
    border: solid black 2px;

}

/* We modify the actual about me header */
.projects h1 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* We can modify the text element for the About Me section */
.abouttext {
    text-align: left;
    padding-left: 36px;
    padding-top: 12px;
}

/* We can modify the text element for the About Me section */
.project-text {
    text-align: left;
    padding-left: 36px;
    padding-top: 12px;
}

nav {
    border: solid black 2px;
    height: 60px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-box {
    text-align: center;
}

.h1 {
    font-size: 64px;
    background-color: #333;
}

*{
    margin: 0px;
    padding: 0px
}

#out-box{
    width: 100%;
    height: 300px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#out-box2{
    width: 100%;
    height: 300px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    min-width: 25%;
}

#box2{
    font-size: 20px;
    width: 75%;
    height: 300px;
    background-color: rgb(200, 200, 200);
    border: solid black 2px;
}

#box3{
    min-width: 25%;
}

#box4{
    font-size: 20px;
    width: 75%;
    height: 300px;
    background-color: rgb(200, 200, 200);
    border: solid black 2px;
}

@media screen and (max-width: 1100px){
    #out-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1100px){
    #out-box2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 785px){
    #box{
        width: 45%;
        display: flex;
        flex-direction: column;
        height: 45%;
    }
}

@media screen and (max-width: 1100px){
    #box2{
        width: 100%;
    }
}

@media screen and (max-width: 785px){
    #box3{
        width: 45%;
        display: flex;
        flex-direction: column;
        height: 45%;
    }
}

@media screen and (max-width: 1100px){
    #box4{
        width: 100%;
    }
}