header {
    background-color: #888;
    height: 100px;
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name {
    font-size: 32px;
    background-color: rgb(20, 228, 255);
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    border: solid #222 2px;
    width: 300px;
    height: 80px;
}

.aboutme {
    background-color: #ccc;
    height: 300px;
    width: 1080px;
}

nav {
    border: solid black 2px;
}

.h1 {
    font-size: 64px;
    background-color: #333;
}